<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragment</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/movies}">All Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/movies/new}">Create New Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/directors/new}">Create New Director</a>
                    </li>

                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                            <button type="submit" class="btn btn-link nav-link" th:action="@{/auth/logout}"></button>
                        </form>
                        <a class="nav-link" th:href="@{/directors/new}">Create New Director</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>